// Theme
$color-background-dark: #000; 
$color-text-light: #fff; 
$color-primary-dark-blue: #002244; 
$color-highlight-green: #007f00;

// Modal
$modal-shadow-color: rgba(0, 0, 0, 0.5); 
$modal-background-color: #282828; 

// Padding 
$padding-base: 12px;
$padding-medium: 16px;
$padding-large: 20px;

// Breakpoints 
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;
$breakpoint-desktop: 1200px;
