@import '../../../styles/variables';
@import '../../../styles/mixins';

.scheduleTemplate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: max-content;
  padding: 20px;
  background-color: $color-background-dark;
  color: $color-text-light;
  width: 100%;
  margin: 100px;

  @include tablet {
    padding: 30px;
  }

  @include laptop {
    padding: 40px;
  }

  .toggleContainer {
    margin-bottom: 20px;
    align-self: flex-start; // Aligns the toggle to the start of the flex container
  }
}
