@import '../../../../styles/variables';

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $modal-shadow-color;
  z-index: 1000; 
}

.modalContent {
  position: relative;
  padding: $padding-medium;
  background-color: $color-background-dark;
  color: $color-text-light;
  border: 2px solid $color-text-light;
  border-radius: 8px;
  max-width: 600px;
  width: 90%;
  box-shadow: 0 4px 8px $modal-shadow-color;
}

.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  background: none;
  color: $color-text-light;
  font-size: 2rem;
  cursor: pointer;
}
